.yelp__body {
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
}

.yelp__pic_date{

}

.yelp__pic {
    display: inline-block;
    position: relative;
    width: 7rem;
    height: 7rem;
    text-align: center;
    border: #dee2e6;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5rem rgb(0 0 0 / 15%);
    line-height: 3rem;
}
.yelp__date {
    
}

.yelp__name_rating_text {
    margin-left: 15px;
    width: 350px;
}



.yelp__text {
    display: -webkit-box; 
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
}